[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nachi Ueno (nati)
[access "refs/for/refs/*"]
	read = group user/Nachi Ueno (nati)
	push = group user/Nachi Ueno (nati)
	label-Code-Review = -2..+2 group user/Nachi Ueno (nati)
	label-Verified = -1..+1 group user/Nachi Ueno (nati)
	rebase = group user/Nachi Ueno (nati)
	removeReviewer = group user/Nachi Ueno (nati)
	submit = group user/Nachi Ueno (nati)
[access "refs/heads/*"]
	read = group user/Nachi Ueno (nati)
	create = group user/Nachi Ueno (nati)
	push = +force group user/Nachi Ueno (nati)
	pushMerge = group user/Nachi Ueno (nati)
[access "refs/tags/*"]
	push = +force group user/Nachi Ueno (nati)
	pushTag = group user/Nachi Ueno (nati)
	pushSignedTag = group user/Nachi Ueno (nati)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
